<!-- INCLUDE overall_header.html -->

<h3>Give karma</h3>

<form method="post" action="">
	<p>Giving karma on post {KARMA_GIVEKARMA_POSTID}.</p>
	<fieldset>
		<dl>
			<dt><label for="karma_type_positive">Type:</label></dt>
			<dd>
				<label for="karma_type_positive"><input type="radio" name="karma_type" id="karma_type_positive" value="1" /> Positive</label>
				<label for="karma_type_negative"><input type="radio" name="karma_type" id="karma_type_negative" value="-1" /> Negative</label>
			</dd>
		</dl>
	</fieldset>
	<fieldset class="submit-buttons">
		<input type="reset" value="{L_RESET}" name="reset" class="button2" />&nbsp;
		<input type="submit" name="submit" value="{L_SUBMIT}" class="button1" />
</fieldset>
</form>

<!-- INCLUDE overall_footer.html -->
