<!-- IF 0 --><!-- TODO Make the thumbs up/down icons appear in color if the user has already given karma on this particular post --><!-- ENDIF -->
<!-- IF postrow.U_GIVEKARMA_POSITIVE --><li class="givekarma-positive-icon"><a href="{postrow.U_GIVEKARMA_POSITIVE}" title="{L_GIVEKARMA_POSITIVE}"><span>{L_GIVEKARMA_POSITIVE}</span></a></li><!-- ENDIF -->
<!-- IF postrow.U_GIVEKARMA_NEGATIVE --><li class="givekarma-negative-icon"><a href="{postrow.U_GIVEKARMA_NEGATIVE}" title="{L_GIVEKARMA_NEGATIVE}"><span>{L_GIVEKARMA_NEGATIVE}</span></a></li><!-- ENDIF -->
