.gitattributes export-ignore
README.md export-ignore
tests export-ignore
travis export-ignore
.travis.yml export-ignore
phpunit.xml.all export-ignore
phpunit.xml.dist export-ignore
phpunit.xml.functional export-ignore
