/* Styles for the thumbs up/down icons with posts
---------------------------------------- */
ul.profile-icons li.givekarma-positive-icon, ul.profile-icons li.givekarma-negative-icon {
	height: 20px;
	width: 20px;
}

ul.profile-icons li.givekarma-positive-icon {
	margin: 0 0 0 10px;
}

.givekarma-positive-icon, .givekarma-positive-icon a {
	background-image: url("./images/icon_karma_positive.gif");
}

.givekarma-negative-icon, .givekarma-negative-icon a {
	background-image: url("./images/icon_karma_negative.gif");
}

/* Styles for the UCP received karma table
---------------------------------------- */
table.karma-table {
	margin-bottom: 1em;
}

table.karma-table thead th {
	text-align: left;
	font-weight: bold;
	padding: 5px;
	border-bottom-color: #333333;
	color: #333333;
}

/*table.karma-table tbody td {
	border-collapse: separate;
	border-spacing: 2px 0;
	border-right: 1px solid #FFFFFF;
}*/
